
/* TABLE OF CONTENTS

    [1] GENERAL
    [2] GRID LAYOUT
    [3] NAVIGATION
    [4] CARD CONTENT

*/

/* [1] GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  general typography */
    font-family: 'Inter';
    font-weight: 400; /* default font weight */
    font-size: 15px; /*font size for paragraphs */

    /* primary colors */
    --pcol-orange: hsl(35, 77%, 62%);
    --pcol-red: hsl(5, 85%, 63%);

    /* neutral colors */
    --ncol-offwhite: hsl(36, 100%, 99%);
    --ncol-gryblu: hsl(233, 8%, 79%);
    --ncol-darkgryblu: hsl(236, 13%, 42%);
    --ncol-darkblu: hsl(240, 100%, 5%);
}


@media (min-width: 800px) {
    /* (2) GRID LAYOUT */
    body {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(3, minmax(240px, 500px));
        gap: 1.5rem;
        margin: 5% 10%;
    }

    /* (3) NAVIGATION */
    nav {
        grid-column: span 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .btn_cls,
    .btn_opn {
        display: none;
    }

    .nav_links {
        display: flex;
        gap: 2rem;
    }

    .nav_links a{
        color: var(--ncol-darkblu);
        text-decoration: none;
        transition: color .2s ease;
    }

    .nav_links a:hover {
        color: var(--pcol-orange);
    }

    /* (4) CARD CONTENT */
    .pri_cont {
        height: 100%;
        grid-column: span 2;
    }

    .pri_cont img {
        width: 100%;
    }

    .pri_cont_txt {
        display: flex;
    }

    .pri_cont h1 {
        color: var(--ncol-darkblu);
        font-weight: 800;
        font-size: 3.5rem;
        padding-top: 3vh;
    }

    .pri_cont p {
        color: var(--ncol-darkgryblu);
        line-height: 1.7;
        padding-inline: 6rem 2rem;
        padding-top: 2.5rem;
    }

    .pri_cont button {
        border: none;
        cursor: pointer;
        background-color: var(--pcol-red);
        color: var(--ncol-offwhite);
        margin-left: 6rem;
        margin-top: 2.7rem;
        padding: 1rem 2rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        transition: background-color .2s ease-in-out;
    }

    .pri_cont button:hover {
        background-color: var(--ncol-darkblu);
    }

    .side_cont {
        background-color: var(--ncol-darkblu);
        color: var(--ncol-gryblu);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .side_cont h1 {
        color: var(--pcol-orange);
        font-size: 40px;
    }

    .side_cont a {
        cursor: pointer;
        color: var(--ncol-offwhite);
        font-weight: 700;
        font-size: 20px;
        transition: color .2s ease;
    }

    .side_cont a:hover {
        color: var(--pcol-orange);
    }

    .side_cont p {
        padding-top: 1rem;
        line-height: 1.8;
    }

    .low_cont {
        display: flex;
        gap: 1.5rem;
        margin-right: 1rem;
        margin-top: 5%;
    }

    .low_cont img {
        width: 100px;
        height: 130px;
    }

    .low_cont h1 {
        color: var(--ncol-gryblu);
        font-size: 30px;
        padding-bottom: .5rem;
    }

    .low_cont a {
        cursor: pointer;
        color: var(--ncol-darkblu);
        font-weight: 800;
        font-size: 17px;
        transition: color .2s ease;
    }

    .low_cont a:hover {
        color: var(--pcol-orange);
    }

    .low_cont p {
        color: var(--ncol-darkgryblu);
        padding-block: .5rem;
        line-height: 1.8;
    }
}


@media (max-width: 800px) {
    /* (2) GRID LAYOUT */
    body {
        display: grid;
        margin: 2.5rem 1.3rem;
        gap: 3rem;
        transition: background-color .4s ease-in-out;
    }

    /* (3) NAVIGATION */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .nav_links {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        inset: 0 0 0 35%;
        padding: 30% 1.5rem;
        background: var(--ncol-offwhite);
        transform: translateX(500px);
        transition: .4s ease-in-out;
    }

    .btn_cls {
        position: fixed;
        top: 2%;
        right: 5%;
    }

    .nav_links a{
        color: var(--ncol-darkblu);
        text-decoration: none;
        font-size: max(40%, 25px);
        transition: color .2s ease;
    }

    .nav_links a:hover {
        color: var(--pcol-orange);
    }

    /* (4) CARD CONTENT */
    .pri_cont img {
        width: 100%;
    }

    .pri_cont h1 {
        color: var(--ncol-darkblu);
        font-weight: 800;
        font-size: 40px;
        padding-block: 1rem;
    }

    .pri_cont p {
        color: var(--ncol-darkgryblu);
        line-height: 1.7;
    }

    .pri_cont button {
        background-color: var(--pcol-red);
        color: var(--ncol-offwhite);
        margin-block: 1.5rem;
        padding: 1rem 2rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        transition: background-color .2s ease-in-out;
    }

    .pri_cont button:hover {
        background-color: var(--ncol-darkblu);
    }

    .side_cont {
        background-color: var(--ncol-darkblu);
        color: var(--ncol-gryblu);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    .side_cont h1 {
        color: var(--pcol-orange);
        font-size: 26px;
    }

    .side_cont a {
        cursor: pointer;
        color: var(--ncol-offwhite);
        font-weight: 700;
        font-size: 20px;
        transition: color .2s ease;
    }

    .side_cont a:hover {
        color: var(--pcol-orange);
    }

    .side_cont p {
        padding-top: 1rem;
        line-height: 1.8;
    }

    .low_cont {
        display: flex;
        gap: 1.5rem;
    }

    .low_cont img {
        width: 100px;
    }

    .low_cont h1 {
        color: var(--ncol-gryblu);
        font-size: 30px;
        padding-bottom: 1rem;
    }

    .low_cont a {
        cursor: pointer;
        color: var(--ncol-darkblu);
        font-weight: 800;
        font-size: 17px;
        transition: color .2s ease;
    }

    .low_cont a:hover {
        color: var(--pcol-orange);
    }

    .low_cont p {
        color: var(--ncol-darkgryblu);
        padding-block: 1rem;
        line-height: 1.8;
    }
}